.contact__header {
    background-image: linear-gradient(to bottom, #b6dbff, #5ba0e9);
}

.contact__header-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 50rem;
}

.contact__header-title {
    font-size: 3.6rem;
    padding: 6rem 1rem 0;
    color: #333;
    font-weight: 400;
    text-align: center;
}


.contact__header-text {
    font-size: 1.6rem;
    padding: 0 1rem 6rem;
    color: #333;
    font-weight: 400;
    text-align: center;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #b6dbff;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #5ba0e9;
    color: #fff;
}

img {
    width: 90px;
    height: 90px;

}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    font-size: 40px;
}

.contact div {
    display: flex;
    align-items: center;
}