body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1rem;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

a {
    color: #007bff;
}